*{
  margin: 0;
  padding: 0;
}

:root{
 --corFundo: #4B4453;
 --corFundoTela: #B0A8B9;
 --corFundoTitulo: #D5CABD;
 --corTexto: #fdfdfd;
}

body,html{
  background: var(--corFundo);
}
.conteiner{
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
}

#principal-titulo{
  position: relative;
  place-content: center;
  border-radius: 10px 10px 0 0;
}

#principal{
  position: relative;
  place-content: center;
  border-radius: 0 0 10px 10px;
  background: var(--corFundoTela);

  overflow: hidden;
  
}

#principal::before{
  content:'';
  position: absolute;
  width: 21em;
  height: 21.5em;
  background: rgb(218,221,220);
  background: linear-gradient(100deg, #c3c3c3 0%,transparent 0%,
  #d4cadf, #b0a8b9,transparent 95%);
  transform: translate(-500px, -50px) skew(-50deg);
  z-index: 10;
  opacity: 0.7;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
}

#principal:is(.acao)::before{
  animation: espelho 1s ease-out;
}

#principal:is(.acao2)::before{
  animation: espelho 1s ease-out;
}

#conteiner-item h5{
  border-radius: 10px;
  font-size: 25px;
}

#principal:is(.acao) h5{
   animation: enunciado .2s ease-out;
}

.opcao,
.form-check-input{
  display: inline-block;
}

.form-check-input{
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
  
}

#conteiner-item .form-check-input{
  box-shadow: 0 0 2px 2px rebeccapurple;
}

#conteiner-item .form-check-input:checked{
  background: #8c5ec0;
  border-radius: 50%;
  animation: animar 0.5s ease;
}


@keyframes animar{
  0%{transform: scale(0.1); opacity: 0;}
  50%{transform: scale(1.1); opacity: 1;}
}


.opcao{
  margin: 2px;
  font-weight: 600;
}


#principal:is(.acao) [type="radio"]{
  animation: input .2s ease;
}
#principal:is(.acao) .opcao{
  opacity: 0.9;
}

@keyframes espelho{
  100%{transform: translateX(900px) skew(-50deg);}
}

@keyframes enunciado{
  50%{opacity: 0.8; transform: scale(.9);}
}

@keyframes input{
  50%{opacity: 0.5; background: #b0a8b9;}
}


#spinner{
  position: relative;
  top: -140px;
 
}

/*
#btn,#enviar{
    display: inline-block;
    padding: 5px 20px;
    margin: 10px auto;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
  #conteiner{
    width: 12.5em;
    height: 12.5em;
    top:50%;
    left: 50%;
    position: absolute;
    padding: 10px;
    transform: translate(-50%,-50%);
    background: #ff0564;
    border-radius: 5px;
    border: 2px solid red;
    box-sizing: border-box;

 
  }



 



  



  #conteiner  #conteiner-item, #animar, #resposta{
    width: 10em;
    height: 10em;
    margin: 2em auto;
  }
  
  
  .circulo{
    width: 3em;
    height: 3em;
    position: relative;
    margin: 3.5em auto;
    border: 10px solid rgba(218,221,20,1);
    border-top: 10px solid transparent; 
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 30;
    transition: opacity all 0.5s;
    animation: loading .7s infinite;
  }
  
  .ativo{
    visibility: visible;
    opacity: 1;
  }

  @keyframes loading{
    0%{transform: rotate(360deg); opacity: 1}
    100%{opacity: 0.5}
  }
  
  #resposta{
  top: 0;
  position: absolute;
  margin: 1em auto;
  }
  
  #animar .resposta-itens{
    margin: 1.2em 1.5em; 
    font-weight: 500;
    color: #fdfdfd;
  }

  #resposta p{
    position: relative;
    top: 0.3em;
    margin: 0.50em 0;
    color: #fdfdfd;
    font-size: larger;
    
    z-index: 40;
    animation: acao 1.1s ease;
  }
  
  

  @keyframes acao{
    0%{transform: translateY(9em) scale(0); opacity: 0;} 
    50%{opacity: 0;}
    100%{transform: translateY(0em) scale(1); opacity: 1;}
  }
*/