*{
  margin: 0;
  padding: 0;
  list-style: none;
}

:root{
 --corFundo: #4B4453;
 --corFundoTela: #B0A8B9;
 --corFundoTitulo: #D5CABD;
 --corTexto: #fdfdfd;
}

body,html{
  background: var(--corFundo);
}

#principal-titulo{
  position: relative;
  place-content: center;
  border-radius: 10px 10px 0 0;
}

#principal{
  position: relative;
  place-content: center;
  border-radius: 0 0 10px 10px;
  background: var(--corFundoTela);

  overflow: hidden;
  
}

#principal::before{
  content:'';
  position: absolute;
  width: 21em;
  height: 21.5em;
  background: rgb(218,221,220);
  background: linear-gradient(100deg, #c3c3c3 0%,transparent 0%,
  #d4cadf, #b0a8b9,transparent 95%);
  transform: translate(-500px, -50px) skew(-50deg);
  z-index: 10;
  opacity: 0.7;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
}

#principal:is(.acao)::before{
  animation: espelho 1s ease-out;
}

#principal:is(.acao2)::before{
  animation: espelho 1s ease-out;
}

#conteiner-item h5{
  border-radius: 10px;
  font-size: 25px;
}

#principal:is(.acao) h5{
   animation: enunciado .2s ease-out;
}

.opcao,
.form-check-input{
  display: inline-block;
}

.form-check-input{
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
  
}

#conteiner-item .form-check-input{
  box-shadow: 0 0 2px 2px rebeccapurple;
}

#conteiner-item .form-check-input:checked{
  background: #8c5ec0;
  border-radius: 50%;
  animation: animar 0.5s ease;
}

@keyframes animar{
  0%{transform: scale(0.1); opacity: 0;}
  50%{transform: scale(1.1); opacity: 1;}
}

.opcao{
  margin: 2px;
  font-weight: 600;
}

#principal:is(.acao) [type="radio"]{
  animation: input .2s ease;
}
#principal:is(.acao) .opcao{
  opacity: 0.9;
}

@keyframes espelho{
  100%{transform: translateX(900px) skew(-50deg);}
}

@keyframes enunciado{
  50%{opacity: 0.8; transform: scale(.9);}
}

@keyframes input{
  50%{opacity: 0.5; background: #b0a8b9;}
}

#spinner{
  position: relative;
  top: -140px;
}

.respostas-visivel{
  display: flex;
  justify-content: space-around;
  color: #2f2e30;
}
.respostas-erradas{
  padding: 0 0 0 5px;
  text-align: end;
  font-size: 16px;
}
.respostas-corretas{
  padding: 0 0 0 5px;
  text-align: start;
  font-size: 16px;
}
.respostas-visivel .respostas-corretas li::after{
  content: '';
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  left: 1.7em;
  background-position: center;
  background-image: url(https://img.icons8.com/emoji/48/check-mark-button-emoji.png);
  border-radius: 15px;
  
}
.respostas-visivel .respostas-erradas li::after{
  content: '';
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  right: 1em;
  background-position: center;
  background-image: url(https://img.icons8.com/color/48/close-window.png);
  border-radius: 15px;
  
}

h2.respostas-visivel span{
  font-size: larger;
  font-size: 40px;
}

@media screen and (max-width: 579px){
  .conteiner{
    padding: 0;
    margin: 0;
  }
}